.bubble-wrapper {
  margin: 0 auto;
  max-width: 1500px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 0 2em;
}
.bubble-wrapper:has(> .bubble > .bubble-inline) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}

.bubble {
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  border-radius: 10px;
  padding: 2em;
  margin: 2em auto;
  background: #fafafa;
}
.bubble:has(> .bubble-inline) {
  padding: 1em;
  max-width: 1100px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 0;
}
.bubble.bubble--full-width {
  width: 100%;
}
.bubble p, .bubble h2, .bubble h3, .bubble h4, .bubble h5, .bubble h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.bubble-inline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 0 1em;
}
.bubble-inline:not(:last-child) {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 15%, rgb(222, 222, 222) 35%, rgb(222, 222, 222) 65%, rgb(255, 255, 255) 85%) 5% 100% 5% 0;
}
.bubble-inline.text-left {
  text-align: left;
}
.bubble-inline p, .bubble-inline h2, .bubble-inline h3, .bubble-inline h4, .bubble-inline h5, .bubble-inline h6, .bubble-inline dl {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.bubble-inline dl {
  text-align: center;
}
.bubble-inline dl dt, .bubble-inline dl dd {
  display: block;
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .bubble-wrapper:has(> :nth-child(4)) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: unset;
  }
  .bubble-wrapper .bubble {
    margin: 1em auto;
  }
}
@media screen and (max-width: 1250px) {
  .bubble-wrapper:has(> :nth-child(3)) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: unset;
  }
  .bubble-wrapper:has(> :nth-child(3)) .bubble:is(:last-child:nth-child(3)) {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 1075px) {
  .bubble-wrapper:has(> :nth-child(4)) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: unset;
  }
  .bubble-wrapper:has(> :nth-child(4)) .bubble {
    margin: 1em auto;
  }
}
@media screen and (max-width: 991px) {
  .bubble-wrapper .bubble:has(> .bubble-inline) {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: unset;
    grid-gap: 1em 0;
  }
  .bubble-wrapper .bubble:has(> .bubble-inline):has(> :last-child:nth-child(1)) {
    grid-template-columns: 1fr;
  }
  .bubble-wrapper .bubble:has(> .bubble-inline) .bubble-inline:nth-child(even) {
    border-right: none;
  }
  .bubble-wrapper .bubble:has(> .bubble-inline) .bubble-inline:is(:last-child:nth-child(3)) {
    grid-column: 1/-1;
  }
  .bubble-wrapper:has(> :nth-child(1)) {
    grid-template-columns: 1fr;
    grid-auto-flow: unset;
  }
  .bubble-wrapper .bubble {
    margin: 1em auto;
  }
}
@media screen and (max-width: 430px) {
  .bubble-wrapper .bubble:has(> .bubble-inline) {
    grid-template-columns: 1fr;
    flex-grow: 2;
  }
  .bubble-wrapper .bubble:has(> .bubble-inline) .bubble-inline:nth-child(odd) {
    border-right: none;
  }
}
@media (prefers-color-scheme: dark) {
  .bubble-wrapper {
    --page-text-color: #000000;
    --link-color: #0071b3;
    --link-hover-color: #005586;
    --link-active-color: #c60c46;
    --link-focus-color: #202024;
    --link-focus-background: #ffb400;
    --link-focus-outline: 3px solid #ffb400;
    color: var(--page-text-color);
  }
  .bubble {
    box-shadow: none;
  }
}
.bg-blue-primary {
  background-color: #00539b;
}

.bg-blue-5-tint {
  background-color: #0d5ca0;
}

.bg-blue-10-tint {
  background-color: #1a64a5;
}

.bg-blue-15-tint {
  background-color: #266daa;
}

.bg-blue-20-tint {
  background-color: #3375af;
}

.bg-blue-25-tint {
  background-color: #407eb4;
}

.bg-blue-30-tint {
  background-color: #4d87b9;
}

.bg-blue-35-tint {
  background-color: #598fbe;
}

.bg-blue-40-tint {
  background-color: #6698c3;
}

.bg-blue-45-tint {
  background-color: #73a0c8;
}

.bg-blue-50-tint {
  background-color: #80a9cd;
}

.bg-blue-55-tint {
  background-color: #8cb2d2;
}

.bg-blue-60-tint {
  background-color: #99bad7;
}

.bg-blue-65-tint {
  background-color: #a6c3dc;
}

.bg-blue-70-tint {
  background-color: #b3cbe1;
}

.bg-blue-75-tint {
  background-color: #bfd4e6;
}

.bg-blue-80-tint {
  background-color: #ccddeb;
}

.bg-blue-85-tint {
  background-color: #d9e5f0;
}

.bg-blue-90-tint {
  background-color: #e6eef5;
}

.bg-blue-95-tint {
  background-color: #f2f6fa;
}

.bg-blue-25-shade {
  background-color: #003e74;
}

.bg-light-blue-primary {
  background-color: #0071b3;
}

.bg-light-blue-25-tint {
  background-color: #4095c6;
}

.bg-light-blue-50-tint {
  background-color: #80b8d9;
}

.bg-light-blue-25-shade {
  background-color: #005586;
}

.bg-light-blue-10-shade {
  background-color: #cceffc;
}

.bg-light-blue-5-shade {
  background-color: #e0f2fd;
}

.bg-red-primary {
  background-color: #ea1a13;
}

.bg-red-25-tint {
  background-color: #ef534e;
}

.bg-red-50-tint {
  background-color: #f58d89;
}

.bg-red-25-shade {
  background-color: #b0140e;
}

.bg-dark-grey-1 {
  background-color: #202024;
}

.bg-dark-grey-2 {
  background-color: #0f0f11;
}

.bg-dark-grey-3 {
  background-color: #4f4f4f;
}

.bg-grey {
  background-color: #6a6a6b;
}

.bg-mid-grey-1 {
  background-color: #949494;
}

.bg-mid-grey-2 {
  background-color: #dedede;
}

.bg-light-grey-1 {
  background-color: #f0f0f0;
}

.bg-light-grey-2 {
  background-color: #fafafa;
}

.bg-white {
  background-color: #ffffff;
}

.bg-orange-primary {
  background-color: #ffb400;
}

.bg-dark-orange {
  background-color: #bf5909;
}

.bg-dark-orange-25-shade {
  background-color: #98490c;
}

.bg-green-primary {
  background-color: #00853f;
}

.bg-green-5-tint {
  background-color: #158e4b;
}

.bg-green-10-tint {
  background-color: #2a9857;
}

.bg-green-15-tint {
  background-color: #3fa163;
}

.bg-green-20-tint {
  background-color: #54ab6f;
}

.bg-green-25-tint {
  background-color: #69b47a;
}

.bg-green-30-tint {
  background-color: #7ebe86;
}

.bg-green-35-tint {
  background-color: #93c792;
}

.bg-green-40-tint {
  background-color: #a9d19e;
}

.bg-green-45-tint {
  background-color: #bedaaa;
}

.bg-green-50-tint {
  background-color: #d3e4b6;
}

.bg-green-55-tint {
  background-color: #e8edc2;
}

.bg-green-60-tint {
  background-color: #f0f1cc;
}

.bg-green-65-tint {
  background-color: #f4f4d5;
}

.bg-green-70-tint {
  background-color: #f7f7de;
}

.bg-green-75-tint {
  background-color: #faf9e7;
}

.bg-green-80-tint {
  background-color: #fcfbef;
}

.bg-green-85-tint {
  background-color: #fdfcf6;
}

.bg-green-90-tint {
  background-color: #fefdfc;
}

.bg-green-95-tint {
  background-color: #fffefe;
}

.bg-green-25-shade {
  background-color: #00642f;
}

.bg-green-10-shade {
  background-color: #007136;
}

.bg-green-15-shade {
  background-color: #C0E1CF;
}

.bg-green-5-shade {
  background-color: #d2f9e3;
}

.bg-purple-primary {
  background-color: #7b439a;
}

.bg-purple-5-tint {
  background-color: #824C9F;
}

.bg-purple-10-tint {
  background-color: #8856A4;
}

.bg-purple-15-tint {
  background-color: #8F5FA9;
}

.bg-purple-20-tint {
  background-color: #9569AE;
}

.bg-purple-25-tint {
  background-color: #9C72B3;
}

.bg-purple-30-tint {
  background-color: #A37BB8;
}

.bg-purple-35-tint {
  background-color: #A985BD;
}

.bg-purple-40-tint {
  background-color: #B08EC2;
}

.bg-purple-45-tint {
  background-color: #B698C7;
}

.bg-purple-50-tint {
  background-color: #BDA1CC;
}

.bg-purple-55-tint {
  background-color: #C4AAD2;
}

.bg-purple-60-tint {
  background-color: #CAB4D7;
}

.bg-purple-65-tint {
  background-color: #D1BDDC;
}

.bg-purple-70-tint {
  background-color: #D7C7E1;
}

.bg-purple-75-tint {
  background-color: #DED0E6;
}

.bg-purple-80-tint {
  background-color: #E5D9EB;
}

.bg-purple-85-tint {
  background-color: #EBE3F0;
}

.bg-purple-90-tint {
  background-color: #F2ECF5;
}

.bg-purple-95-tint {
  background-color: #F8F6FA;
}

.bg-purple-25-shade {
  background-color: #5c3274;
}

.bg-purple-10-shade {
  background-color: #693983;
}

.bg-purple-5-shade {
  background-color: #f4e3ff;
}

.bg-purple-15-shade {
  background-color: #DED0E7;
}

.bg-burgundy-primary {
  background-color: #c60c46;
}

.bg-burgundy-5-tint {
  background-color: #c9184f;
}

.bg-burgundy-10-tint {
  background-color: #cc2459;
}

.bg-burgundy-15-tint {
  background-color: #cf3062;
}

.bg-burgundy-20-tint {
  background-color: #d13d6b;
}

.bg-burgundy-25-tint {
  background-color: #d44974;
}

.bg-burgundy-30-tint {
  background-color: #d7557e;
}

.bg-burgundy-35-tint {
  background-color: #da6187;
}

.bg-burgundy-40-tint {
  background-color: #dd6d90;
}

.bg-burgundy-45-tint {
  background-color: #e07999;
}

.bg-burgundy-50-tint {
  background-color: #e386a3;
}

.bg-burgundy-55-tint {
  background-color: #e592ac;
}

.bg-burgundy-60-tint {
  background-color: #e89eb5;
}

.bg-burgundy-65-tint {
  background-color: #ebaabe;
}

.bg-burgundy-70-tint {
  background-color: #eeb6c8;
}

.bg-burgundy-75-tint {
  background-color: #f1c2d1;
}

.bg-burgundy-80-tint {
  background-color: #f4ceda;
}

.bg-burgundy-85-tint {
  background-color: #f6dbe3;
}

.bg-burgundy-90-tint {
  background-color: #f9e7ec;
}

.bg-burgundy-95-tint {
  background-color: #fcf3f6;
}

.bg-burgundy-25-shade {
  background-color: #950935;
}

.bg-burgundy-15-shade {
  background-color: #f2c3d2;
}

.bg-burgundy-5-shade {
  background-color: #ffd3e1;
}

.bg-success {
  background-color: #00853f;
}

.bg-information {
  background-color: #00539b;
}

.bg-warning {
  background-color: #bf5909;
}

.bg-danger {
  background-color: #ea1a13;
}

/*# sourceMappingURL=bubble.css.map */
