.form-fieldset {
  border: 0;
  padding: 0;
}
.form-fieldset legend {
  padding: 0;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
.form-fieldset legend > * {
  margin: 0;
}

.form-group {
  margin-bottom: 1.5em;
}
.form-group label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.form-group .input-help {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #6a6a6b;
}
.form-group .input-help .visually-hidden:focus {
  height: auto;
  width: auto;
  clip-path: none;
  margin-left: 1em;
}
.form-group ul {
  margin: 0;
  padding: 0;
}
.form-group ul li {
  list-style: none;
  margin-bottom: 0.5em;
}
.form-group ul li label {
  font-weight: normal;
  margin: 0;
  vertical-align: middle;
}
.form-group ul li label:hover {
  cursor: pointer;
}
.form-group ul.inline li {
  display: inline-block;
  margin-right: 1em;
}
.form-group ul.small input[type=checkbox] {
  height: 16px;
  width: 16px;
  font-size: 0.6em;
}
.form-group ul.small input[type=checkbox]:checked::after {
  margin: 0 0 10% 30%;
  border-width: 0 0.2em 0.2em 0;
}
.form-group ul.collapsed {
  border: 1px solid CanvasText;
  padding: 0.5em 0.5em;
}
.form-group ul.collapsed li:last-child {
  margin-bottom: 0;
}
.form-group ul.collapsed[aria-expanded=false] {
  overflow-y: scroll;
  max-height: 30vh;
  min-height: 6em;
}
.form-group input:not([type=checkbox], [type=radio], [type=file]), .form-group textarea, .form-group select {
  display: block;
  width: 100%;
  height: 46px;
  font-size: 1em;
  padding: 6px 12px;
  font: inherit;
  border: 1px solid #6a6a6b;
  color: #202024;
}
.form-group input:not([type=checkbox], [type=radio], [type=file]):focus, .form-group textarea:focus, .form-group select:focus {
  outline: 3px solid #ffb400;
  box-shadow: inset 0 0 0 2px #6a6a6b;
}
.form-group input:not([type=checkbox], [type=radio], [type=file]).form-input-auto, .form-group textarea.form-input-auto, .form-group select.form-input-auto {
  width: auto;
}
.form-group textarea {
  height: auto;
  overflow: auto;
}
.form-group input[type=checkbox] {
  appearance: none;
  aspect-ratio: 1;
  background: Field;
  border: 2px solid CanvasText;
  height: 25px;
  width: 25px;
  margin: 0 0.25em 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.form-group input[type=checkbox]:hover {
  background: ButtonBorder;
}
.form-group input[type=checkbox]::after {
  position: relative;
  display: inline-block;
  border: none;
  content: "";
}
.form-group input[type=checkbox]:checked::after {
  border-color: CanvasText;
}
.form-group input[type=checkbox]:checked::after {
  height: 80%;
  border-style: solid;
  border-width: 0 0.25em 0.25em 0;
  aspect-ratio: 1/1.8;
  rotate: 40deg;
  width: 40%;
  margin-left: 30%;
}
.form-group input[type=radio] {
  appearance: none;
  aspect-ratio: 1;
  background: Field;
  border: 2px solid CanvasText;
  height: 25px;
  width: 25px;
  margin: 0 0.25em 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
.form-group input[type=radio]:hover {
  background: ButtonBorder;
}
.form-group input[type=radio]::after {
  position: relative;
  display: inline-block;
  border: none;
  content: "";
}
.form-group input[type=radio]:checked::after {
  border-color: CanvasText;
}
.form-group input[type=radio]::after {
  border-radius: 100%;
  height: 13px;
  width: 13px;
  margin: 4px;
}
.form-group input[type=radio]:checked::after {
  background: CanvasText;
}
.form-group .conditional-content {
  border-left: 5px solid #6a6a6b;
  padding: 0.5em 1em;
  margin-top: 0.5em;
}
.form-group .conditional-content[aria-hidden=true] {
  display: none;
}
.form-group input[type=file] {
  display: block;
  font-size: 1em;
}
.form-group .input-group {
  display: flex;
  flex-wrap: nowrap;
  height: 46px;
  text-wrap: nowrap;
}
.form-group .input-group .input-group-addon {
  display: flex;
  align-items: center;
  border: 1px solid #6a6a6b;
  padding: 6px 12px;
  height: 100%;
  background-color: ButtonBorder;
  z-index: -1;
}
.form-group .input-group .input-group-addon:last-child {
  border-left: 0;
}
.form-group .input-group .input-group-addon:first-child {
  border-right: 0;
}

/* Error state: make the border red (and keep it red on focus) */
.form-group input.error,
.form-group textarea.error,
.form-group select.error {
  border: 1.25px solid #ea1a13;
  box-shadow: inset 0 0 0 1px #ea1a13;
}
.form-group input.error:focus,
.form-group textarea.error:focus,
.form-group select.error:focus {
  outline: 1.25px solid #ea1a13;
  box-shadow: inset 0 0 0 1px #ea1a13;
}

.alert {
  border: 5px solid #6a6a6b;
  padding: 20px;
  margin-bottom: 20px;
}
.alert.success {
  border-color: #00853f;
}
.alert.info {
  border-color: #00539b;
}
.alert.warning {
  border-color: #bf5909;
}
.alert.danger {
  border-color: #ea1a13;
}
.alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
  font-size: 1.44em;
  margin: 0 0 10px 0;
}
@media (min-width: 36em) and (max-width: 75em) {
  .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
    font-size: calc(1.44em + 0.1225em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
    font-size: calc(1.44em + 0.1225em);
  }
}
.alert p {
  margin: 0;
}

.callout-row > .col {
  display: flex;
}

.callout-row > .col > .callout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.callout {
  border-left: 5px solid #6a6a6b;
  padding: 20px;
  margin-bottom: 20px;
}
.callout.success {
  border-color: #00853f;
}
.callout.info {
  border-color: #00539b;
}
.callout.warning {
  border-color: #bf5909;
}
.callout.danger {
  border-color: #ea1a13;
}
.callout h2, .callout h3, .callout h4, .callout h5, .callout h6 {
  font-size: 1.44em;
  margin: 0 0 10px 0;
}
@media (min-width: 36em) and (max-width: 75em) {
  .callout h2, .callout h3, .callout h4, .callout h5, .callout h6 {
    font-size: calc(1.44em + 0.1225em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  .callout h2, .callout h3, .callout h4, .callout h5, .callout h6 {
    font-size: calc(1.44em + 0.1225em);
  }
}
.callout p {
  margin: 0;
}

/*# sourceMappingURL=form-elements.css.map */
