/* Error: Undefined variable.
 *     ,
 * 117 | @media screen and (max-width: map-get($breakpoints, 'sm')) {
 *     |                                       ^^^^^^^^^^^^
 *     '
 *   scss-styles\components\_hero-banner.scss 117:39  @import
 *   scss-styles\hero-banner.scss 2:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 117 \2502  @media screen and (max-width: map-get($breakpoints, 'sm')) {\d\a     \2502                                        ^^^^^^^^^^^^\a     \2575 \a   scss-styles\\components\\_hero-banner.scss 117:39  @import\a   scss-styles\\hero-banner.scss 2:9                 root stylesheet";
}
