.secondary-call {
  padding: 2em 0;
  background-color: #f0f0f0;
}
.secondary-call .call-heading {
  margin: 0;
  font-size: 2.5em;
}
.secondary-call p {
  max-width: 70ch;
  font-size: 1.2em;
}
.secondary-call.bg-blue-primary .call-buttons .btn.lg.action:not(.white) {
  border-bottom: 3px solid #98490c;
  background-color: #bf5909;
}
.secondary-call.bg-blue-primary .call-buttons .btn.lg.action:not(.white):hover, .secondary-call.bg-blue-primary .call-buttons .btn.lg.action:not(.white):focus {
  background-color: #98490c;
}
.secondary-call.bg-blue-primary, .secondary-call.bg-dark-orange, .secondary-call.bg-burgundy-primary, .secondary-call.bg-purple-primary {
  color: white;
}

.bg-blue-primary {
  background-color: #00539b;
}

.bg-blue-25-tint {
  background-color: #407eb4;
}

.bg-blue-50-tint {
  background-color: #80a9cd;
}

.bg-blue-25-shade {
  background-color: #003e74;
}

.bg-light-blue-primary {
  background-color: #0071b3;
}

.bg-light-blue-25-tint {
  background-color: #4095c6;
}

.bg-light-blue-50-tint {
  background-color: #80b8d9;
}

.bg-light-blue-25-shade {
  background-color: #005586;
}

.bg-light-blue-10-shade {
  background-color: #cceffc;
}

.bg-light-blue-5-shade {
  background-color: #e0f2fd;
}

.bg-red-primary {
  background-color: #ea1a13;
}

.bg-red-25-tint {
  background-color: #ef534e;
}

.bg-red-50-tint {
  background-color: #f58d89;
}

.bg-red-25-shade {
  background-color: #b0140e;
}

.bg-dark-grey-1 {
  background-color: #202024;
}

.bg-dark-grey-2 {
  background-color: #0f0f11;
}

.bg-grey {
  background-color: #6a6a6b;
}

.bg-mid-grey-1 {
  background-color: #949494;
}

.bg-mid-grey-2 {
  background-color: #dedede;
}

.bg-light-grey-1 {
  background-color: #f0f0f0;
}

.bg-light-grey-2 {
  background-color: #fafafa;
}

.bg-white {
  background-color: #ffffff;
}

.bg-orange-primary {
  background-color: #ffb400;
}

.bg-dark-orange {
  background-color: #bf5909;
}

.bg-green-primary {
  background-color: #00853f;
}

.bg-green-25-tint {
  background-color: #40a46f;
}

.bg-green-50-tint {
  background-color: #80c29f;
}

.bg-green-25-shade {
  background-color: #00642f;
}

.bg-green-10-shade {
  background-color: #007136;
}

.bg-green-5-shade {
  background-color: #d2f9e3;
}

.bg-purple-primary {
  background-color: #7b439a;
}

.bg-purple-25-tint {
  background-color: #9C72B3;
}

.bg-purple-50-tint {
  background-color: #BDA1CC;
}

.bg-purple-25-shade {
  background-color: #5c3274;
}

.bg-purple-10-shade {
  background-color: #693983;
}

.bg-purple-5-shade {
  background-color: #f4e3ff;
}

.bg-burgundy-primary {
  background-color: #c60c46;
}

.bg-burgundy-25-tint {
  background-color: #d44974;
}

.bg-burgundy-50-tint {
  background-color: #e386a3;
}

.bg-burgundy-25-shade {
  background-color: #950935;
}

.bg-burgundy-5-shade {
  background-color: #ffd3e1;
}

.bg-success {
  background-color: #00853f;
}

.bg-information {
  background-color: #00539b;
}

.bg-warning {
  background-color: #bf5909;
}

.bg-danger {
  background-color: #ea1a13;
}

/*# sourceMappingURL=secondary-call-to-action.css.map */
