@use './variables/main-colors' as colors;

/* ---------- RADIUS + BORDER UTILITIES ---------- */

$radius-map: (
  "xs": min(2px, 0.8vw),
  "sm": min(4px, 1.2vw),
  "md": min(6px, 2vw),
  "lg": min(10px, 3vw),
  "xl": min(14px, 4vw)
);

/* Define a border color map*/
$border-color-map: (
  "light": colors.$light-grey-2,
  "mid": colors.$mid-grey-2,
  "dark": colors.$dark-grey-1,
  "primary": colors.$blue-primary,
  "orange": colors.$orange-primary
);

/* Generate .radius-[name] utility classes */
@each $name, $radius in $radius-map {
  .radius-#{$name} {
    border-radius: $radius;
  }
}

/* Generate .border-[color-name] classes */
@each $name, $color in $border-color-map {
  .border-#{$name} {
    border: 1px solid $color;
  }
}

/* Rounded-border utility */
.rounded-border {
  @extend.border-light;
  border-radius: 980px;
  -webkit-border-radius: 980px;
  -moz-border-radius: 980px;
  -ms-border-radius: 980px;
  -o-border-radius: 980px;
}
