.breadcrumbs {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.breadcrumbs ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; /* This ensures all items are aligned on the same line */
}

.breadcrumbs li {
  display: flex;
  align-items: center; /* Aligns the text and icons vertically */
}

.breadcrumbs li:not(:first-child)::before {
  display: inline-block;
  margin-right: 0.25rem; //space before the icon
  margin-left: 0.25rem; //space after the icon
  content: 'chevron_right' / '';
  font-family: 'Material Symbols Outlined';
  font-feature-settings: 'liga'; //enabling ligatures
}
