// Import only what's needed
@import "./variables/main-colors";

// Local variable needed
$page-font-family: 'PT Sans', Helvetica, Arial, sans-serif;

$category-header-background: $light-blue-primary;
$category-header-color: $white;
$category-header-active: var(--link-focus-color);
$category-header-selected: var(--link-focus-background);
$category-font-family: $page-font-family;

.category-header {
    background-color: $category-header-background; // Blue background
    color: $category-header-color; // White text
    font-family: $category-font-family;

    a {
      color: inherit; // Inherit white color from parent
      text-decoration: none; // No underline by default

      // Hover effect
      &:hover {
        text-decoration: underline; // Underline on hover
      }

      &:active, &.selected {
        color: $category-header-active; // Text turns black
        background-color: $category-header-selected; // Background behind text turns yellow
      }
    }
  }
