.material-icons-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-style: normal;
    font-weight: 200; // Match this to your @font-face declaration
    font-size: 24px;
    line-height: 1; // Ensuring icons are centered and aligned
    vertical-align: middle;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased; // Improve rendering on webkit browsers
}
