.navigation-bar {
  width: 100%;
  margin: 0;
  padding: 0;

  &-primary {
    background-color: $blue-primary;
  }

  &-secondary {
    background-color: $light-blue-primary;
  }

  &-nav {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 0;
    margin: 0;
    list-style: none;

    li {
      flex: 0 1 auto;
      text-align: center;

      a {
        display: block;
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
          background-color: $blue-25-shade;
        }

        &:active,
        &:focus,
        &.selected {
          outline: none;
          box-shadow: inset 0 0 0 2px $orange-primary;
          background-color: $light-blue-primary;
        }
      }
    }

    @include mq-up('lg') {
      flex-wrap: nowrap;
      justify-content: space-between;

      li {
        flex: 1;
      }
    }

    &.primary-nav {
      background-color: $blue-primary;
    }

    &.secondary-nav {
      background-color: $light-blue-primary;
    }
  }
}
