// Importing themes
@import './variables/light-theme';
:root {
  // Default theme settings
  --page-background-color: #{$page-background-color};
  --page-text-color: #{$page-text-color};
  --page-font-family:#{$page-font-family};

  // link colors
  --link-color:#{$link-color};
  --link-hover-color:#{$link-hover-color};
  --link-active-color:#{$link-active-color};
  --link-focus-color:#{$link-focus-color};
  --link-focus-background:#{$link-focus-background};
  --link-focus-outline:#{$link-focus-outline};
}

// Check for user's preference for dark mode
@media (prefers-color-scheme: dark) {
  @import './variables/dark-theme';
  :root {
    // Dark theme settings
    --page-background-color: #{$page-background-color};
    --page-text-color: #{$page-text-color};
    --page-font-family:#{$page-font-family};

    // Link colors
    --link-color:#{$link-color};
    --link-hover-color:#{$link-hover-color};
    --link-active-color:#{$link-active-color};
    --link-focus-color:#{$link-focus-color};
    --link-focus-background:#{$link-focus-background};
    --link-focus-outline:#{$link-focus-outline};
  }
}