// Global variables with values that apply to all themes
@import './variables/breakpoints';
@import './variables/main_colours';

$page-font-family: 'PT Sans', Helvetica, Arial, sans-serif;

// Loop through all the color variables and generate classes
@each $color-name, $color-value in (
  blue-primary: $blue-primary,
  blue-25-tint: $blue-25-tint,
  blue-50-tint: $blue-50-tint,
  blue-25-shade: $blue-25-shade,
  light-blue-primary: $light-blue-primary,
  light-blue-25-tint: $light-blue-25-tint,
  light-blue-50-tint: $light-blue-50-tint,
  light-blue-25-shade: $light-blue-25-shade,
  red-primary: $red-primary,
  red-25-tint: $red-25-tint,
  red-50-tint: $red-50-tint,
  red-25-shade: $red-25-shade,
  dark-grey-1: $dark-grey-1,
  dark-grey-2: $dark-grey-2,
<<<<<<< f29fd40b3f7e780779e49a604c9661b5ef237630
=======
  grey: $grey,
>>>>>>> 56d793f35415e7e743bd332c53c3ac579c9c3dca
  mid-grey-1: $mid-grey-1,
  mid-grey-2: $mid-grey-2,
  light-grey-1: $light-grey-1,
  light-grey-2: $light-grey-2,
<<<<<<< f29fd40b3f7e780779e49a604c9661b5ef237630
=======
  white: $white,
>>>>>>> 56d793f35415e7e743bd332c53c3ac579c9c3dca
  orange-primary: $orange-primary,
  dark-orange: $dark-orange,
  green-primary: $green-primary,
  green-25-tint: $green-25-tint,
  green-50-tint: $green-50-tint,
  green-25-shade: $green-25-shade,
  purple-primary: $purple-primary,
  purple-25-tint: $purple-25-tint,
  purple-50-tint: $purple-50-tint,
  purple-25-shade: $purple-25-shade,
  burgundy-primary: $burgundy-primary,
  burgundy-25-tint: $burgundy-25-tint,
  burgundy-50-tint: $burgundy-50-tint,
  burgundy-25-shade: $burgundy-25-shade,
  success: $success,
  information: $information,
  warning: $warning,
  danger: $danger
) {

  // Background color classes
 .bg-#{color-name} {
    background-color: $color-value;
  }

  // Text color classes
   .text#{color-name} {
    color: $color-value;
  }
}