.article-list {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* or "contain" */
    }

    .snippet {
        width: 70%;
        padding-left: 1em;

        .heading {
            font-size: 1.2em;
            line-height: 1.25;
            margin: 20px 0 5px 0
        }

        dl {
            margin: 0;
            font-size: 1rem;
            overflow: auto;

            dt {
                display: inline-block;
                line-height: 1.5;
                font-weight: bold;

                i {
                    font-weight: 400;
                }

                span {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
            }

            dd {
                font-weight: bold;
                display: inline-block;
            }
        }

        .description {
            margin: 0 0 5px 0;
        }

    }
}