.article-list {

    .snippet {
       // width: 70%;
        padding-left: 1em;

        .heading {
            font-size: 1.2em;
            line-height: 1.25;
            margin: 0 0 5px 0
        }

        dl {
            margin: 0;
            font-size: 1rem;
            overflow: auto;

            dt {
                display: inline-block;
                line-height: 1.5;
                font-weight: bold;

                i {
                    font-weight: 400;
                }

                span {
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }
            }

            dd {
                font-weight: bold;
                display: inline-block;
                margin-bottom: 10px;
            }

            // @media only screen and (max-width: 570px) {
            //     dd {
            //         font-weight: bold;
            //         display: block;
            //         line-height: 0;
            //     }
          //  }
        }

        .description {
            margin: 0 0 5px 0;
        }

        @media only screen and (max-width: 570px) {
            .description {
                display: none;
            }
        }

    }
}