@use "../global-partials/variables";

.banner-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 540px) {
  .banner-image {
    display: none;
  }
}

.banner-text-white {
  line-height: 1.6;
  font-size: 1.125rem;

  h2,h3 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: variables.$white;

    a {
      color: variables.$white;

      &:focus {
        color: variables.$dark-grey-2;
      }
    }
  }
}

.banner-text-grey {
  line-height: 1.6;
  font-size: 1.125rem;

  h2,h3 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: variables.$dark-grey-2;

    a {
      color: variables.$dark-grey-2;

      &:focus {
        color: variables.$dark-grey-2;
      }
    }
  }
}

.banner-image {
  a {
    img {
      display: block;
    }
  }
}