.bubble {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    padding: 2em;
    margin: 0 auto;
    background: #fafafa;

    // stretch is Chromium only, everything else uses -webkit-fill-available
    // https://caniuse.com/mdn-css_properties_height_stretch
    height: stretch;
    height: -webkit-fill-available;

    &:has(>.bubble-inline) {
        padding: 1em;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        gap: 0;
    }

    &.inline-hug {
        &:has(>.bubble-inline) {
            width: fit-content;
        }
    }

    .icon {
        align-self: center;
    }

    p, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
}

.bubble-inline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 0 1em;

    &:not(:last-child) {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 15%, rgba(222, 222, 222, 1) 35%, rgba(222, 222, 222, 1) 65%, rgba(255, 255, 255, 0) 85%) 5% 100% 5% 0;
    }

    &.text-left {
        text-align: left;

        .icon {
            align-self: start;
        }
    }

    p, h2, h3, h4, h5, h6, dl {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    dl {
        text-align: center;

        dt, dd {
            display: block;
            margin: 0;
        }
    }
}

@media screen and (max-width: map-get($breakpoints, 'lg')) {
    .bubble {
        &:has(>.bubble-inline) {
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: row;
            grid-gap: 1em 0;

            &:has(> :last-child:nth-child(1)) {
                grid-template-columns: 1fr;
            }
        }

        & .bubble-inline {
            &:nth-child(2n) {
                border-right: none;
            }

            &:is(:last-child:nth-child(3)) {
                grid-column: 1 / -1;
            }
        }
    }
}

@media screen and (max-width: map-get($breakpoints, 'md')) {

}

@media screen and (max-width: map-get($breakpoints, 'sm')) {
    .bubble {
        &:has(>.bubble-inline) {
            grid-template-columns: 1fr;

            & .bubble-inline {
                &:nth-child(2n+1) {
                    border-right: none;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .bubble {
        --page-text-color: #000000;
        --link-color: #0071b3;
        --link-hover-color: #005586;
        --link-active-color: #c60c46;
        --link-focus-color: #202024;
        --link-focus-background: #ffb400;
        --link-focus-outline: 3px solid #ffb400;

        color: var(--page-text-color);
    }
}