@import '../variables/supported-icons';

/*
This SCSS file defines the styles for various button
components and dropdown menus. It includes
mixins for color options, size options,
and action buttons. The file also generates
icon button classes based on a list of supported icons.
*/

// Dropdown behaviour changes depending on the screen width.
$breakpoint-value: map-get($breakpoints, 'lg');

// Mixin for button options including colors and sizes
@mixin options() {
    // ---- Colour options ----//
    //  Supported color options:
    //  burgundy, green, grey, orange, purple, red, white

    // Generate color variations for buttons
    @each $color, $shade in (
        "burgundy": ($burgundy-primary, $burgundy-25-shade),
        "green": ($green-primary, $green-25-shade),
        "grey": ($dark-grey-3, $grey),
        "orange": ($dark-orange, $dark-orange-25-shade),
        "purple": ($purple-primary, $purple-25-shade),
        "red": ($red-primary, $red-25-shade),
        "white": (#fff, #fff)
    ) {
        &.#{$color} {
            background-color: nth($shade, 1);
            color: if($color == "white", $blue-primary, null);
            border: if($color == "white", 1px solid $light-blue-primary, null);
            border-bottom: if($color == "white", 3px solid $light-blue-primary, null);
            padding-bottom: if($color == "white", calc(0.5em - 3px), null);
            padding-top: if($color == "white", calc(0.5em - 1px), null);
        }

        &.#{$color}:focus,
        &.#{$color}:hover {
            background-color: nth($shade, 2);
            color: if($color == "white", $blue-primary, $white);
            text-decoration: if($color == "white", underline, null);
        }

        &.#{$color}:active {
            color: #000;
            background-color: var(--link-focus-background);
            border-color: $orange-primary;
        }
    }

    // ------ Size options ------//
    &.lg {
        font-size: 1em;
        line-height: 1.5;
    }
    &.mrg {
        margin: 0.3rem;
    }

    // ----- Action buttons -----//
    &.action {
        font-weight: bold;
        //color: white;
        text-align: left;
        padding-bottom: calc(0.5em - 2px);
        border-bottom: 3px solid $blue-25-shade;

        // Colour options for the action bottom border
        @each $color, $shade in (
            green: $green-25-shade,
            orange: $dark-orange-25-shade,
            red: $red-25-shade,
            burgundy: $burgundy-25-shade,
            purple: $purple-25-shade,
            grey: $dark-grey-2,
            white: $light-blue-primary
        ) {
            &.#{$color} {
                //background-color: if($color == "white", #fff, null);
                //color: if($color == white, $blue-primary, null);
                border: if($color == white, 1px solid $shade, 1px solid $color);
                border-bottom: if($color == white, 3px solid $shade, 3px solid $shade);
                padding-bottom: if($color == white, calc(0.5em - 2px), null);
                padding-top: if($color == white, calc(0.5em), null);
            }
        }

        // Add the chevron to action buttons using Material Symbols
        &:after {
            content: "chevron_right";
            font-family: 'Material Symbols Outlined';
            font-feature-settings: 'liga';
            -webkit-font-feature-settings: 'liga';
            -moz-font-feature-settings: 'liga';
            font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
            font-size: 1.4rem;
            line-height: 1;
            display: inline-block;
            margin-left: 0.5rem;
            margin-right: -0.5rem;
            vertical-align: center;
            color: #fff;
        }

        &.lg {
            &:after {
                font-size: 1.7rem;
            }
         }

        &.white:after {
            color: $blue-primary;
        }
    }
}

// Styling for the default blue button with white text
.btn {
    @include options;
    border: none;
    margin-bottom: 5px;
    padding: 0.5em 1em;
    text-decoration: none;
    text-underline-offset: 0.15em;
    text-wrap: balance;
    background-color: $blue-primary;
    color: #fff;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    line-height: 1.5;
    display: inline-block;

    &:hover {
        color: #fff;
        background-color: $blue-25-shade;
    }

    &:focus {
        color: #fff;
        background-color: $blue-25-shade;
        outline: 3px solid #FFB400;
    }

    &:active {
        color: #000;
        background-color: var(--link-focus-background);
    }
}

// --------- Icon Buttons -----------//
.btn[class*="icon-"] {
    &::before {
        color: inherit;
        float: right;
        font-size: 1.3rem;
        padding: 5px 0 0 8px;
        line-height: 1rem;
        font-family: 'Material Symbols Outlined';
        font-feature-settings: 'liga';
        -webkit-font-feature-settings: 'liga';
        -moz-font-feature-settings: 'liga';
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}

@mixin generate-icon-classes($base-class, $icons) {
  @each $icon in $icons {
    .#{$base-class}-#{$icon}::before {
        content: get-icon-content($icon);
    }
  }
}
@include generate-icon-classes('icon', $icons-list);

// --------- Dropdown list styles -----------//
.hover-drop-list {
    position: relative;
    display: inline-block;

    .btn {
        margin: 0;

        &::after {
            content: "expand_more";
            display: inline-block;
            font-family: 'Material Symbols Outlined';
            font-feature-settings: 'liga';
            font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
            pointer-events: none;
            font-size: 1.25rem;
            line-height: 1;
            transition: transform 0.2s ease-in-out;
            margin-left: 0.5rem;
            vertical-align: center;
        }
    }

    // Animation for opening and closing the dropdown
    @keyframes out {
        from { max-height: 0%; }
        to { max-height: 100%; }
    }


    // Styles for the dropdown content
    .drop-content {
        overflow: hidden;
        position: absolute;
        background-color: var(--page-background-color);
        min-width: 160px;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        max-width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1rem;
        text-align: left;

        li {
            a {
                display: block;
                padding: 6px 22px;
                clear: both;
                font-weight: normal;
                line-height: 1.5;
                color: var(--page-text-color);

                &:hover {
                    background: var(--page-highlight-background-color);
                    color: var(--page-text-color);
                    text-decoration: none;
                }

                &:active {
                    background: var(--link-focus-background);
                }
            }
        }

        // On click show dropdown
        &.show {
            display: block;
        }
    }

    &.up > .drop-content {
        bottom: 100%;
    }

    &.down > .drop-content {
        top: 100%;
    }

    &.up .btn:after {
        rotate: 180deg;
    }
    &.selected .btn:after {
        rotate: 180deg;
    }
    &.up.selected .btn:after {
        rotate: 0deg;
    }
}

// Dropdown open and close animations
@media (min-width: 800px) {
    .hover-drop-list {
        &:not(.selected) {
            &:hover {
                .btn {
                    &::after {
                        rotate: 180deg;
                    }
                }
            }
        }

        &.up {
            &:not(.selected) {
                &:hover {
                    .btn {
                        &::after {
                            rotate: 0deg;
                        }
                    }
                }
            }
        }
    }

    .hover-drop-list:not(.selected):hover .drop-content {
        display: block;
    }
}

.selected:after {
    top: 0.6rem;
    transform: rotate(135deg);
    pointer-events: all;
}



@media (prefers-color-scheme: dark) {
    .hover-drop-list {
        .drop-content {
            li {
                a {
                    &:focus {
                        color: $dark-grey-2;
                    }
                }
            }
        }
    }
}
