// Dropdown behaviour changes depending on the screen width.
 $breakpoint-value: map-get($breakpoints, 'lg');

@mixin options() {
    
    // ---- Colour options ----//
    /*  The default primary colour is blue but other colours are supported
        supported colour options:
            burgundy,     
            green, 
            grey, 
            orange,
            purple,  
            red, 
            white
    */

    // burgundy buttons
    &.burgundy {
        background-color: $burgundy-primary;
    }
    &.burgundy:focus {
        background-color: $burgundy-25-shade;
    }
    &.burgundy:hover {
        background-color: $burgundy-25-shade;
    }
    // green buttons
    &.green {
        background-color: $green-primary;
    }
    &.green:focus {
        background-color: $green-25-shade;
    }
    &.green:hover { 
        background-color: $green-25-shade;
    }
    // grey buttons
    &.grey {
        background-color: $mid-grey-1;
    }
    &.grey:focus {
        background-color: $dark-grey-3;
    }
    &.grey:hover {
        background-color: $dark-grey-3;
    }
    // orange buttons
    &.orange {
        background-color: $dark-orange;
    }
    &.orange:focus {
        background-color: $dark-orange-25-shade;
    }
    &.orange:hover {
        background-color: $dark-orange-25-shade;
    }
    // purple buttons
    &.purple {
        background-color: $purple-primary;
    }
    &.purple:focus {
        background-color: $purple-25-shade;
    }
    &.purple:hover {
        background-color: $purple-25-shade;
    }
    // red buttons
    &.red {
        background-color: $red-primary;
    }
    &.red:focus {
        background-color: $red-25-shade ;
    }
    &.red:hover {
        background-color: $red-25-shade;
    }
    // white buttons
    &.white {
        background-color: #fff;
        color: $blue-primary;
        border: 1px $blue-25-shade solid;
        border-bottom: 3px #0071b3 solid;
        padding-bottom: 6px;
    }
    &.white:focus {
        background-color: #fff;
        color: $blue-primary;
        text-decoration: underline;
    }
    &.white:hover { 
        background-color: #fff;
        color: $blue-primary;
        text-decoration: underline;
    }

    // ------ Size options ------//
    // Size options: lg
    &.lg {
        font-size: 1em;
        line-height: 1.5;
    }

    // ----- action buttons -----//
    &.action{
        top:0.1rem;
        border-bottom: 3px $blue-25-shade solid;
        font-weight: bold;
        color: white;
        position: relative;
        text-align: left;
        padding-top: 0.3rem;
        padding-left: 1rem;
    
 

        // Colour options 
        // for the action bottom border
        &.green{
            border-bottom: 3px $green-25-shade solid;
        }
        &.orange{
            border-bottom: 3px $dark-orange-25-shade solid;
        }
        &.red{
            border-bottom: 3px $red-25-shade solid;
        }
        &.burgundy{
            border-bottom: 3px $burgundy-25-shade solid;
        }
        &.green{
            border-bottom: 3px $green-25-shade solid;
        }
        &.purple{
            border-bottom: 3px $purple-25-shade solid;
        }
        &.grey{
            border-bottom: 3px $dark-grey-3 solid;
        }
        &.white{
            background-color: #fff;
            color: $blue-primary;
            border: 1px $blue-25-shade solid;
            border-bottom: 3px #0071b3 solid;
            padding-bottom: 6px;
        }
    }

    // Add the > arrow to action buttons
    &.action:after{
        content: "";
        right: 0rem;
        margin-bottom: -0.1rem;
        margin-top: 0.1rem;
        margin-left: 0.2rem;
        margin-right: 0rem;
        border: 1rem solid #fff;
        border-width: 0px 0.3rem 0.3rem 0px;
        display: inline-block;
        padding: 0.3rem;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.action.white:after{
        border: 1rem solid $blue-primary;
        border-width: 0px 0.3rem 0.3rem 0px;
    }
    
}

// // --------- Dropdown list styles -----------//
// .hover-dropdown-list{
//     position: relative;
//     display: inline-block;

// }

// .hover-dropdown-list .btn{
//     margin: 0 !important;
//     padding-right: 3rem;
// }

// // Animation for opening and closing the dropdown
// @keyframes out {
//     from   {max-height: 0%;}
//     to {max-height: 100%;}
// }

// // On click show dropdown
// .show{
//     display: block !important;
// }

// // styles for the dropdown content 
// .dropdown-content{
//     overflow: hidden;
//     position: absolute;
//     background-color: var(--page-background-color);
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     padding: 12px 16px;
//     top: 100%;
//     left: 0;
//     z-index: 1000;
//     display: none;
//     float: left;
//     min-width: 160px;
//     max-width: 100%;
//     padding: 0;
//     margin: 0px 0 0;
//     list-style: none;
//     font-size: 1rem;
//     text-align: left;
//     background-color: var(--page-background-color);
//     border: 1px solid #6a6a6b;
//     border-radius: 0px;
//     -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
//     box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
//     background-clip: padding-box;

//     & >li>a{
//         display: block;
//         padding: 6px 22px;
//         clear: both;
//         font-weight: normal;
//         line-height: 1.5;
//         color: var(--page-text-color);
//     }

//     & >li>a:hover{
//         background: var(--page-highlight-background-color);
//         color: var(--page-text-color);
//         text-decoration: none;
//     }
// }

// // Adds the > to the button
//  .hover-dropdown-list:after {
//     content: "";
//     position: absolute;
//     pointer-events: all;
//     right: 0.9rem;
//     top: 0.6rem;
//     width: 1rem;
//     height: 1rem;
//     cursor: pointer;
//     transform: rotate(-45deg);
//     border-left: 4px solid #fff;
//     border-bottom: 4px solid #fff;
//     transition: 0.2s ease-in-out;
// }

// .btn:focus, .btn:active{
//     outline: 3px solid #FFB400;
// }

// // On click close dropdown 
// @media (min-width: 800px) {
//     .hover-dropdown-list:not(.selected):hover .btn:hover:after{
//         top: 1rem;
//         transform: rotate(135deg);
//         pointer-events: all;
//     }
// }

// // On click open dropdown 
// .selected:after {
//     top: 0.6rem;
//     transform: rotate(135deg);
//     pointer-events: all;
// }

// // On click close dropdown 
// @media (min-width: 800px) {
//     .hover-dropdown-list:not(.selected):hover .dropdown-content   {
//         display: block;
//         animation-name: out;
//         animation-duration: 0.2s;
//     }
// }

// @media (min-width:$breakpoint-value) {
// // Only apply the hover action to full size screens
// .hover-dropdown-list:not(.selected):hover .btn:after  {
//     top: 1rem;
//     transform: rotate(135deg);
//     pointer-events: all;  
// }
// }
// --------- Dropdown list styles -----------//
.hover-drop-list{
    position: relative;
    display: inline-block;

}

.hover-drop-list .btn{
    margin: 0 !important;
    padding-right: 3rem;
}

// Animation for opening and closing the dropdown
@keyframes out {
    from   {max-height: 0%;}
    to {max-height: 100%;}
}

// On click show dropdown
.show{
    display: block !important;
}

// styles for the dropdown content 
.drop-content{
    overflow: hidden;
    position: absolute;
    background-color: var(--page-background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
   // top: 100%;
  // top: auto; 
 //  bottom: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    max-width: 100%;
    padding: 0;
    margin: 0px 0 0;
    list-style: none;
    font-size: 1rem;
    text-align: left;
    background-color: var(--page-background-color);
    border: 1px solid #6a6a6b;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    background-clip: padding-box;



    & >li>a{
        display: block;
        padding: 6px 22px;
        clear: both;
        font-weight: normal;
        line-height: 1.5;
        color: var(--page-text-color);
    }

    & >li>a:hover{
        background: var(--page-highlight-background-color);
        color: var(--page-text-color);
        text-decoration: none;
    }
}
.hover-drop-list.up{
    & >.drop-content{
        top: auto; 
        bottom: 100%;
    }
}
.hover-drop-list.down{
    & >.drop-content{
        top: 100%;
    }
}
// Adds the > to the button
 .hover-drop-list:after {
    content: "";
    position: absolute;
    pointer-events: all;
    right: 0.9rem;
    top: 0.6rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transform: rotate(-45deg);
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transition: 0.2s ease-in-out;
}

.btn:focus, .btn:active{
    outline: 3px solid #FFB400;
}

// On click close dropdown 
@media (min-width: 800px) {
    .hover-drop-list:not(.selected):hover .btn:hover:after{
        top: 1rem;
        transform: rotate(135deg);
        pointer-events: all;
    }
    .hover-drop-list.up:not(.selected):hover .btn:hover:after{
        top: 1rem;
        transform: rotate(90deg);
        pointer-events: all;
    }
}

// On click open dropdown 
.selected:after {
    top: 0.6rem;
    transform: rotate(135deg);
    pointer-events: all;
}

// On click close dropdown 
@media (min-width: 800px) {
    .hover-drop-list:not(.selected):hover .drop-content   {
        display: block;
        animation-name: out;
        animation-duration: 0.2s;
    }
}

@media (min-width:$breakpoint-value) {
// Only apply the hover action to full size screens
.hover-drop-list:not(.selected):hover .btn:after  {
    top: 1rem;
    transform: rotate(135deg);
    pointer-events: all;  
}
}
// --------- End dropdown list styles -----------//

// Styling for the default blue button with white text
.btn {
    z-index: 1;
    margin-bottom: 5px;
    padding: 0.5em 1em;
    text-decoration: none;
    text-underline-offset: 0.15em;
    background-color: $blue-primary;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    line-height: 1.5;
    border-radius: 0px;
    white-space: nowrap;
    display: inline-block;
    @include options;
}


.btn:focus {
    color: #fff;    
    background-color: $blue-25-shade;
}

.btn:hover {
    color: #fff;        
    background-color: $blue-25-shade;
}

.btn:active {
    color: #202024;    
    background-color: var(--link-focus-background);

}
