$color_1: black;
$color_2: inherit;
$background-color_1: white;
$background-color_2: $light-grey-2;

.facet-list {
	.list-group {
		margin-bottom: 20px;
		padding-left: 0;
		width: 20%;
	}

	.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: $background-color_1;
		border: 1px solid #dedede;
		color: $color_1;
		text-decoration: none;

		.list-group-item-heading {
			color: $color_1;
		}

		&:hover {
			text-decoration: none;
			color: $color_2;
			background-color: $background-color_2;
		}

		&:focus {
			text-decoration: none;
			color: $color_2;
			background-color: $background-color_2;
			z-index: 99;
		}

		&:first-child {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

		&:last-child {
			margin-bottom: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.facet-clear {
		display: inline-block;
		font-weight: normal;
		font-size: .83333em;
		margin: 8px 0 8px 15px;
		text-decoration: underline;

		.material-icons-outlined {
			font-size: 20px;
			font-weight: 1000;
		}
	}
}