.featured-people {
    width: 100%;
    margin: 0 auto;

    &.indented-description {
        .person-image {
            grid-row: 1 / -1;
        }

        .description {
            grid-column: 2 / -1;
        }
    }

    .featured-people-title {
        margin-top: 0;
    }

    .person {
        display: grid;
        grid-template-columns: 7rem 1fr;
        grid-template-rows: min-content min-content;
        gap: 0.5rem 1rem;

        .person-image {
            grid-column: 1 / 1;
            display: block;
            border-radius: 50%;
            max-width: 7rem;

            img {
                display: block;
                border-radius: 50%;
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: 576px) {
            .person {
                grid-template-columns: 4rem;
            }
        }

        @media (max-width: 350px) {
            .person {
                grid-template-columns: 2rem;
            }
        }

        .person-info {
            grid-column: 2 / -1;

            .name {
                font-size: 1.2rem;
                margin: 0;
            }

            .title {
                margin: 0;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    .description {
        grid-column: 1 / -1;
        grid-row: 2;

        p {
            margin-top: 0;
        }
    }
}