.featured-people {
    width: 100%;
    margin: 0 auto;

    .featured-people-title {
        margin-top: 0;
    }

    .person {
        display: grid;
        grid-template-columns: 7rem 1fr;
        grid-template-rows: min-content min-content;
        gap: 0.5rem 1rem;

        .person-image {
            grid-column: 1 / 1;
            display: block;
            border-radius: 50%;
            max-width: 7rem;

            img {
                display: block;
                border-radius: 50%;
                width: 100%;
                height: auto;
            }
        }

        .person-info {
            grid-column: 2 / -1;

            .name {
                font-size: 1.2rem;
                margin: 0;
            }

            .title {
                margin: 0;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    .description {
        grid-column: 1 / -1;
        grid-row: 2;

        p {
            margin-top: 0;
        }
    }
}

// Fixes the indented description layout for a 2 profile grid between these breakpoints
@media screen and (min-width: 768px) and (max-width: 991px) {
    .featured-people {
        &.indented-description {
            .col-6-md {
                .person-image {
                    grid-row: 1 / 1;
                }

                .description {
                    grid-column: 1 / -1;
                }
            }
        }
    }
}

@media screen and (min-width: 577px) {
    .featured-people {
        &.indented-description {
            .person-image {
                grid-row: 1 / -1;
            }

            .description {
                grid-column: 2 / -1;
            }
        }
    }
}

@media (max-width: 576px) {
    .featured-people {
        .person {
            grid-template-columns: 5rem 1fr;
        }
    }
}

@media (max-width: 350px) {
    .featured-people {
        .person {
            grid-template-columns: 4rem 1fr;
        }
    }
}