@mixin baseInput {
	display: block;
	width: 100%;
	height: 46px;
	font-size: 1em;
	padding: 6px 12px;
	font: inherit;
	border: 1px solid $grey;
	color: $dark-grey-1;

	&:focus {
		outline: 3px solid $orange-primary;
		box-shadow: inset 0 0 0 2px $grey;
	}

	&.form-input-auto {
		width: auto;
	}
}

@mixin checkboxRadioBase() {
	appearance: none;
	aspect-ratio: 1;
	background: Field;
	border: 2px solid CanvasText;
	height: 25px;
	width: 25px;
	margin: 0 0.25em 0 0;
	vertical-align: middle;
	cursor: pointer;

	&:hover {
		background: ButtonBorder;
	}

	&::after {
		position: relative;
		display: inline-block;
		border: none;
		content: '';
	}

	&:checked::after {
		border-color: CanvasText;
	}
}

.form-fieldset {

	border: 0;
	padding: 0;

	legend {
		padding: 0;
		font-weight: bold;
		margin: 0 0 0.5em 0;
		 & > * {
			margin: 0;
		 }
	}

}
	

.form-group {
	margin-bottom: 1.5em;

	label {
		display: inline-block;
		max-width: 100%;
		font-weight: bold;
		margin-bottom: 0.5em;
	}

	.input-help {
		margin-top: 0;
		margin-bottom: 0.5em;
		color: $grey;

		.visually-hidden {
			&:focus {
				height: auto;
				width: auto;
				clip-path: none;
				margin-left: 1em;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin-bottom: 0.5em;

			label {
				font-weight: normal;
				margin: 0;
				vertical-align: middle;

				&:hover {
					cursor: pointer;
				}
			}
		}

		&.inline {
			li {
				display: inline-block;
				margin-right: 1em;
			}
		}

		&.small {
			input[type="checkbox"] {
				height: 16px;
				width: 16px;
				font-size: 0.6em;

				&:checked::after {
					margin: 0 0 10% 30%;
					border-width: 0 0.2em 0.2em 0;
				}
			}
		}

		&.collapsed {
			border: 1px solid CanvasText;
			padding: 0.5em 0.5em;

			li:last-child {
				margin-bottom: 0;
			}

			&[aria-expanded="false"] {
				overflow-y: scroll;
				max-height: 30vh;
				min-height: 6em;
			}
		}
	}

	input:not([type="checkbox"], [type="radio"]), textarea, select {
		@include baseInput();
	}

	textarea {
		height: auto;
		overflow: auto;
	}

	input[type="checkbox"] {
		@include checkboxRadioBase();
		
		&:checked::after {
			height: 80%;
			border-style: solid;
			border-width: 0 0.25em 0.25em 0;
			// background-color: CanvasText;
			aspect-ratio: 1 / 1.8;
			rotate: 40deg;
			width: 40%;
			margin-left: 30%;
		}
	}

	input[type="radio"] {
		@include checkboxRadioBase();
		border-radius: 50%;

		&::after {
			border-radius: 100%;
			height: 13px;
			width: 13px;
			margin: 4px;
		}

		&:checked::after {
			background: CanvasText;
		}
	}

	.conditional-content {

		border-left: 5px solid $grey;
		padding: 0.5em 1em;
		margin-top: 0.5em;

		&[aria-hidden="true"] {
			display: none;
		}
	}

}

