.embed-responsive {
    iframe {
        height: auto;
        width: 100%;
        border: none;
        margin-bottom: 1rem;
    }

    &-16by9 {
        iframe {
            aspect-ratio: 16 / 9;
        }
    }

    &-4by3 {
        iframe {
            aspect-ratio: 4 / 3;
        }
    }
}
