@use "../global-partials/mixins";
@use "../variables/main-colors" as colors;
.metadata-list {
	color: colors.$grey;

	dt {
		margin-right: 5px;

		&.metadata-date::before {
			@include mixins.icon('calendar_month', '', colors.$grey);
			font-variation-settings: 'wght' 700;
		}

		&.metadata-time::before {
			@include mixins.icon('schedule', '', colors.$grey);
			font-variation-settings: 'wght' 700;
		}

		&.metadata-location::before {
			@include mixins.icon('location_on', '', colors.$grey);
			font-variation-settings: 'OPSZ' 20, 'wght' 700, 'FILL' 1;
		}

		&:not([class^="metadata-"]) {
			font-weight: 700;
			color: colors.$dark-grey-2;
		}
	}

	dd {
		margin: 0 20px 5px 0;

		a {
			color: colors.$grey;

			&:hover {
				color: colors.$dark-grey-1;
			}
			&:focus {
				color: colors.$dark-grey-1;
			}
		}
	}

	dt, dd {
		display: inline;
		line-height: 1.5;
		text-wrap: wrap;
	}

	&.metadata-list-full {
		display: grid;
		grid-template-columns: auto 1fr;
	}
}

@media screen and (max-width: 575px) {
	.metadata-list {
		display: grid;
		grid-template-columns: auto 1fr;
	}
}