@use "../global-partials/category-header";
@use "../global-partials/variables";

.pagination {
  display: flex;
  list-style: none;
  padding: 0;

  .page-link {
    display: block;
    padding: 8px 16px;
    margin-bottom: 20px;
    border: 1px solid variables.$dark-grey-1;
    background-color: white;
    color: variables.$blue-primary;
    text-decoration: none;
    font-weight: bold;
    font-family: category-header.$page-font-family;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: variables.$blue-primary;
      color: white;
    }
  }
}
