.panel {
  box-shadow: 0px 2px 2px $mid-grey-1 ;
  margin-bottom: 1rem;
}

.panel-heading {
  padding: 1rem 1.25rem;                      /* ensure readable over brand colours */

  h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
  }
}

.panel-body {
  padding: 1.25rem 1.25rem 1.5rem;

  p {
    margin: 0;
    line-height: 1.7;
  }
}