.embed-responsive {
    overflow: hidden;
    position: relative;
    height: 0;
    margin: auto;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        border: 0;
    }

    &-16by9 {
        padding-bottom: 56.25%;
    }

    &-4by3 {
        padding-bottom: 75%;
    }
}