$responsive-sizing: clamp(1.5rem, 4vw, 4rem);

.search-bar {
    position: relative;
    align-items: center;

    .search-box {
        &:focus {
            z-index: 0;
        }
    }

    button {
        &.btn {
            border: none;
            height: 100%;
            margin-bottom: 0;
            padding: 0;
            min-width: 46px;

            &.clear-icon {
                position: absolute;
                right: 46px;
                background-color: $white;
                color: $dark-grey-2;
                border-radius: 50%;
                min-width: 38px;
                height: 38px;
                display: none;
                margin-right: 0.5rem;

                &.show-icon {
                    display: inline-block;
                }

                &:hover, &:focus {
                    background: #0c070f11;
                }
            }
        }
    }
}

.form-group {
    &:has(.search-bar) {
        margin-bottom: 0;
    }
}

.search-bar-banner {
    //padding: 4rem 0;
    padding: $responsive-sizing 0;
    color: $dark-grey-2;

    h2, h3, h4, h5, h6 {
        margin: 0 0 1rem 0;
    }

    // Constrained width (e.g. within content thirds)
    &.col {
        padding: $responsive-sizing;
    }

    &.bg-blue-primary {
        color: $white;

        .search-bar {
            button {
                &.btn {
                    background-color: $light-blue-primary;

                    &.clear-icon {
                        background-color: $white;

                        &:hover, &:focus {
                            background-color: #0c070f11;
                        }
                    }

                    &:hover {
                        background-color: $blue-25-shade;
                    }

                    &:focus {
                        background-color: $blue-25-shade;
                    }
                }
            }
        }
    }

    .links {
        ul {
            margin-bottom: 0;
        }
    }
}


/*List search results*/
.results-container {
    display: none; /* Hidden initially */

    .columns {
        display: flex;
        gap: 20px;
    }

    .column {
        flex: 1;
    }

    .course-button-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        /* Button Styling */
        .course-button {
            display: inline-block;
            margin: 0;
            padding: 10px 15px;
            background-color: $light-grey-1;
            color: $dark-grey-2;
            border: 2px solid $grey;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
            white-space: nowrap;

            &:hover {
                background-color: $mid-grey-2;
                border-color: $mid-grey-1;
            }
        }
    }

    .no-courses {
        color: $red-primary;
    }
}

/*------List and button search for smaller screens------*/
@media (max-width: 500px) {
    .results-container {
        .columns {
            display: block;
        }
    }
}
