.banner-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 540px) {
  .banner-image {
    display: none;
  }
}

.banner-text {
  line-height: 1.6;
  font-size: 1.125rem;

  h2 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    color: #ffffff;

    a {
      color: #ffffff;

      &:focus {
        color: $dark-grey-2;
      }
    }
  }
}

.banner-image {
  a {
    img {
      display: block;
    }
  }
}