.staff-profile {

    .details {

        .heading {
            margin-bottom: -1.5rem;
        }

        .subheading {
            margin-bottom: -0.5rem;
        }
    }

    img.image {

        padding: 0;
    }

    .contact {


        dl {
            dt {
                font-weight: 700;
            }

        }


    }
}




// .staff-profile__contact {
//     margin-top: 25px
// }

// @media (min-width: 576px) {
//     .staff-profile__contact {
//         -ms-grid-column:1;
//         -ms-grid-row: 2;
//         grid-column: 1;
//         grid-row: 2
//     }
// }

// .staff-profile__image {
//     margin: 1em 0
// }

// @media (min-width: 576px) {
//     .staff-profile__image {
//         -ms-grid-column:3;
//         -ms-grid-row: 1;
//         -ms-grid-row-span: 2;
//         grid-column-start: 2;
//         grid-column-end: 3;
//         grid-row-start: 1;
//         grid-row-end: 3;
//         margin: 0;
//         width: 150px
//     }
// }

// @media (min-width: 768px) {
//     .staff-profile__image {
//         width:200px
//     }
// }

// .staff-profile__heading {
//     margin: 0;
//     padding: 0
// }

// .staff-profile__subheading {
//     font-weight: normal;
//     margin: 0;
//     padding: 0
// }

// .staff-profile__intro {
//     margin-bottom: 0;
//     margin-top: 0.5em;
//     max-width: 40em
// }

// .staff-profile__intro a {
//     font-weight: normal
// }

// .staff-profile__image-wrapper {
//     margin: 0 0 1em 0
// }