@use "../global-partials/variables";

.text-banner-content {
	text-align: center;

	&.left {
		text-align: left;
	}

	&.right {
		text-align: right;
	}

	a {
		color: variables.$light-grey-2;
		text-decoration: underline;
	  
		  &:hover {
			color: variables.$light-grey-1;
			text-decoration: none;
		  }
	  
		  &:focus {
			color: var(--link-focus-color);
		  }
	  }
}