 $theme-dark: (
    // Theme colors:
    page-background-color:#282729,  // Background color in dark mode
    page-highlight-background-color:#8685876a,
    page-text-color:#f0f0f0,

    //Link colors
    link-color: #00c5db,
    link-hover-color: #00aecd,
    link-active-color: #c60c46,
    link-focus-color: #e6e6e9,
    link-focus-background: #ffb400,
    link-focus-outline: 3px solid #ffb400,
);