$footer-background: $dark-grey-2;
$footer-text-color: $light-grey-1;
$footer-link-color: $light-grey-1;

// Footer styles
footer {
  border-top: 1px solid #6a6a6b;
  background-color: $footer-background;
  color: $footer-text-color;
  padding: calc(1vw + 1rem) 0 calc(1vw + 1rem) 0;
  font-family: var(--page-font-family);
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  width: 100vw;

  .footer-text {
    width:90%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .footer-links {
    gap: 0.5rem; // Space between links

    a {
      color: $footer-link-color;
      text-decoration: underline;
      white-space: nowrap; // Prevent individual links from wrapping

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

// Responsive typography
@include respond-to(sm) {
  .footer {
    font-size: 16px;
  }
}
