:root {
  --page-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  --page-font-family-alternative: 'Noto Sans', Helvetica, Arial, sans-serif;
  --serif-font-family-alternative: 'Noto Serif', Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  font-family: $page-font-family;
  @include typography(font-size, ('xs': 100%, 'sm': 112.5%));
}

.noto-sans {
  font-family: var(--page-font-family-alternative);
}

.noto-serif {
  font-family: var(--serif-font-family-alternative);
}

h1 {
  font-weight: 700;
  @include responsive-font-size(2.0736em, 0.36780625em, 36em, 75em);
}

h2 {
  font-weight: 700;
  @include responsive-font-size(1.728em, 0.225125em, 36em, 75em);
}

h3 {
  font-weight: 700;
  @include responsive-font-size(1.44em, 0.1225em, 36em, 75em);
}

h4 {
  font-weight: 700;
  @include responsive-font-size(1.2em, 0.05em, 36em, 75em);
}

h5 {
  font-size: 1em; // No responsive adjustment needed based on your setup
  font-weight: 700;
}

h6 {
  font-size: 1em; // No responsive adjustment needed based on your setup
  font-weight: 700;
}

// Define styles links
a, .link {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: .15em;
  transition: color 0.3s ease;

    &:hover {
      color: var(--link-hover-color);
      text-decoration: none;
    }

    &:active {
      color: var(--link-active-color);
    }

    &:focus {
      color: var(--link-focus-color);
      background: var(--link-focus-background);
      box-shadow: 0 3px var(--link-focus-background);
      outline: var(--link-focus-outline);
      text-decoration: underline;
    }
}

// Hide elements but still make it accessible for screen readers
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

// Bold utility class
.font-weight-bold {
  font-weight: 700;
}

.lead {
  font-size: 1.373rem;
}
